# Ignorar archivos de caché y bases de datos
*.json
*.csv

!asteroid-dashboard-react/package.json
!asteroid-dashboard-react/public/catalogo_asteroides_web.json
# Ignorar carpetas de Python
__pycache__/
