/* src/components/AsteroidList.module.css */
.listContainer {
  background-color: #1e293b; /* space-light */
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border-bottom: 2px solid #4b5563;
  padding-bottom: 0.5rem;
  color: #facc15; /* primary-yellow */
}

.list {
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 0.5rem;
  list-style: none; /* Quitamos los puntitos de la lista */
  padding-left: 0;
}

.listItem {
  width: 100%;
  text-align: left;
  padding: 0.75rem;
  margin: 0.25rem 0;
  border-radius: 0.375rem;
  transition: all 0.2s;
  font-size: 1.125rem;
  cursor: pointer;
  border: none;
  background-color: #334155; /* slate-700 */
  color: #e2e8f0;
}

.listItem:hover {
  background-color: #475569; /* slate-600 */
  transform: scale(1.03);
}

.selected {
  background-color: #facc15; /* primary-yellow */
  color: #0f172a; /* space-dark */
  font-weight: bold;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
}/* src/components/AsteroidList.module.css */
.listContainer {
  background-color: #1e293b; /* space-light */
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border-bottom: 2px solid #4b5563;
  padding-bottom: 0.5rem;
  color: #facc15; /* primary-yellow */
}

.list {
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 0.5rem;
  list-style: none; /* Quitamos los puntitos de la lista */
  padding-left: 0;
}

.listItem {
  width: 100%;
  text-align: left;
  padding: 0.75rem;
  margin: 0.25rem 0;
  border-radius: 0.375rem;
  transition: all 0.2s;
  font-size: 1.125rem;
  cursor: pointer;
  border: none;
  background-color: #334155; /* slate-700 */
  color: #e2e8f0;
}

.listItem:hover {
  background-color: #475569; /* slate-600 */
  transform: scale(1.03);
}

.selected {
  background-color: #facc15; /* primary-yellow */
  color: #0f172a; /* space-dark */
  font-weight: bold;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
}