/* src/components/AsteroidDashboard.module.css */
.dashboardContainer {
  display: flex;
  height: 100%; /* Use the full height of the parent */
  padding: 1rem; /* Add the padding here */
  box-sizing: border-box; /* Ensure padding doesn't add to the total size */
  gap: 1rem;
}

.listColumn {
  width: 33.333333%;
  max-width: 24rem; /* 384px */
}

.detailsColumn {
  width: 66.666667%;
  height: 100%;
  flex-grow: 1;
  /* New properties o center the content */
  align-items: center;
  justify-content: center;
}